body{
    font-family: 'Ubuntu', sans-serif;
}

li#aktif:nth-child(1) {
    background-color: #F7B0F6;
    font-weight: bold;
    font-size: 18px;
    animation: fadeIn 0.5s infinite alternate;
}

#title p{
    font-size: 3rem;
    font-weight: bold;
}

.kotak{
    margin-top: 250px;
}

@keyframes fadeIn { 
    from { opacity: 40%; } 
}

.card-header{
    background-color: #b55cb3;
    font-size: 1rem;
    font-weight: 600;
}

/* #title .container-fluid{
    margin-left: 3%;
    margin-right: 3%;
} */